parsePlaintext* methods should declare byte array types, not strings

[RFC 7515, Section 2](https://tools.ietf.org/html/rfc7515#section-2) states:

> JWS Payload
>          The sequence of octets to be secured -- a.k.a. the message.  The
>          payload can contain an arbitrary sequence of octets.

This is reinforced by the example shown in [Appendix A4](https://tools.ietf.org/html/rfc7515#appendix-A.4) using a payload of the string literal `Payload`.

As such, the JJWT API needs to be changed to reflect `byte[]` types and not `String`.  This change would be backwards incompatible so it is slated for 1.0.

Merged with #178 , will be released in `0.12.0`