Problem with using JJWT to generate token signature signwith  


According to the source code, the length of the key is at least 256bits, that is, 32 bytes. However, if the length of the key is sufficient, an error is reported, and the output shows that the length of the original byte is inconsistent with the length of the bytes parsed in Base64. Can you give the developer a friendly warning?  


Hi @meetGith, I’m not sure I’m following the description. Can you provide a code snippet so we can reproduce the issue? (It will make it easier for us to write a test case too)

       String u = "saisaisaisaisaisaisaisaisaisaisasaisassss";
        System.out.println("字符串原字节长度："+u.getBytes().length);
        byte[] bytes = Decoders.BASE64.decode(u);
        System.out.println("通过base64解码之后的长度："+bytes.length);
        Key secretKey = Keys.hmacShaKeyFor(bytes);
        HashMap<String, Object> payload = new HashMap<>();
        payload.put("name","csl");
        String jwt = Jwts.builder()
                .setClaims(payload)
                .signWith(secretKey,SignatureAlgorithm.HS256)
                .compact();
        System.out.println(jwt);

---
The length of the secret key is at least 32 bytes. When using base64, the byte size will be compressed, resulting in an io.jsonwebtoken.security.WeakKeyException. Can you give the developer a friendly reminder? Similar to different decoding methods will all have an impact on the length of the secret key

In your example, the decoded bit length is 240, which is less than the required 256 bits

The exception message that is thrown states:

> The specified key byte array is 240 bits which is not secure enough for any JWT HMAC-SHA algorithm.  The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HMAC-SHA algorithms MUST have a size >= 256 bits (the key size must be greater than or equal to the hash output size).  Consider using the io.jsonwebtoken.security.Keys#secretKeyFor(SignatureAlgorithm) method to create a key guaranteed to be secure enough for your preferred HMAC-SHA algorithm.  See https://tools.ietf.org/html/rfc7518#section-3.2 for more information.

That said, I'm guessing part of the issue you are seeing, might be character set related, which one is your system set to?

Assuming your are using Java 8+, you could try:

```java
byte[] bytes = java.util.Base64.getDecoder().decode(u);
// or
byte[] bytes = java.util.Base64.getDecoder().decode(u.getBytes(<your-expected-charset>));
```

Please keep us posted!




