JwtParser.parseClaimsJws() should not bother about unsupported or malformed JWT

Hello! 

**Problem:**

I think that the current method parseClaimsJws(String claimsJws) is unoptimal because it can result in 3 different scenarios:

- JWT is OK and signature is OK
- JWT is OK and signature is NOT OK or the content is EXPIRED
- JWT is NOT OK

This is caused by the `parseClaimsJws` method to accept a String and the subsequent check of its content by means of a `JwtHandlerAdapter`. 

This leads to a situation in which both `bad jwt` and `bad key` are spotted by the same procedure and, possibly requiring different handling, messy code. 

**Solution**

My suggestion is to wrap the `claimsJws` in a specific object which already validates the jwt content and throws `UnsupportedJwtException`, `MalformedException` or `IllegalArgumentException` at creation time, then call the `parseClaimsJsw` with the already validated object




RFC 7517 Section 5.2 https://tools.ietf.org/html/rfc7515#section-5.2 indicates:

> in all cases, at least one JWS Signature value
   MUST successfully validate, or the JWS MUST be considered invalid.

In other words, using your nomenclature, the RFC makes it is quite clear that if the signature is NOT OK, then by definition the JWT is NOT OK.

JJWT reflects RFC-compliant validation failures by throwing an exception.  Not doing so could cause severe security problems for the developer or application using JJWT, because they would be using a JWT that must not be used per the RFC mandate.  These security vectors are very real, and it's why JJWT throws exceptions.

As far as expiration, see:

https://tools.ietf.org/html/rfc7519#section-4.1.4

Quote:

> The "exp" (expiration time) claim identifies the expiration time on
    or after which the JWT MUST NOT be accepted for processing.

A parser rejecting the jws (i.e. MUST NOT be accepted) adheres to the RFC specification.  

If you continue to use the JWT after expiration, you're clearly `processing` it, which is in direct violation of the RFC.