Getting Weak key Exception when yousing the 20 Charectory secrete key.

Hi I am getting the Following exception when i use the 20 charector String as secrete key.

io.jsonwebtoken.security.WeakKeyException:

The signing key's size is 160 bits which is not secure enough for the HS256 algorithm.  The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HS256 MUST have a size >= 256 bits (the key size must be greater than or equal to the hash output size).  Consider using the io.jsonwebtoken.security.Keys class's 'secretKeyFor(SignatureAlgorithm.HS256)' method to create a key guaranteed to be secure enough for HS256.  See https://tools.ietf.org/html/rfc7518#section-3.2 for more information.

Can you please check.

The exception message is extremely clear on why your 20 character key is not allowed to be used according to the JWT RFC specification.  JJWT does not allow keys that are not allowed by the specification - you would be significantly compromising security otherwise.  This is why it is listed as `REQUIRED` in the RFC.