Validate the least expensive data first

Currently the process for decoding the jwt within the parse function of DefaultJwtParser is this:

Base64Decode
Keys and Signature Validation
Expiration Validation
Claims Validation

This presents several potential issues and is done in the incorrect order I believe. The order I think this should be in is as follows (I'll follow up with reasons and examples why after):

Base64Decode
Expiration Validation
Keys and Signature Validation
Claims Validation

If you have a token that is already expired there's no need to check anything else on the token... it's expired.... done. This is the fastest, easiest thing to check on a token.

Next you can check the keys and signature and you want to do this AFTER the expiration check because running cryptographic functions is an expensive operation.

If left in the current order you're having to run through a cryptographic validation for all tokens including tokens that are already expired and thus invalid wasting that time when you could short circuit the return with the simple expiration check.

The reason for signature or encryption validation first is that the data can't be trusted until after the signature is considered authentic.

If you changed the order of operations, someone could intercept a JWT (a JWS or JWE), change the expiration date (or other trivially-validatable fields), base64-encode the changed data, and send it to its destination.  If the destination validator performed the simple validation logic without first validating the signature, it could reject a JWT before it should actually be rejected.

Essentially any simple field could be manipulated and cause invalidation before the JWT should actually be invalidated.  This is why you have to assert authenticity first before trusting any of the fields within.

I disagree. If you check your expiration first and it's expired it doesn't matter if it were intercepted and changed to be expired.... It's invalid and would be rejected regardless. If it weren't intercepted and modified and it was expired you can reject the request because the token is expired without having to run through the signature validation. Now.... assume the token was intercepted and modified to make an expired token  not expired then when you validate the signature of the token it'd be rejected at that point in time.

If I intercept your token, and I make it expire a second after it was created, it would prevent you from ever using the target service/website/whatever because you'll always be logged out.  This is clearly a security hole and one of many reasons why unauthenticated data cannot be trusted in a security context. It's the entire reason why signatures exist.

Besides, this isn't really up for debate AFAICT.  JWT parsing and validation order is clearly defined in the RFC, and the RFC indicates that signature validation occurs before interpreting the JWT body (aka the `Message`):

https://tools.ietf.org/html/rfc7519#section-7.2

Signature validation is Step 7 (and for JWS, specifically references JWS [RFC 7515, Section 5.2)(https://tools.ietf.org/html/rfc7515#section-5.2) for JWS signature validation)

Handling the body ('Message') is Steps 9 and 10.

And since the base64 octect sequence of the body/`Message` is a required input for Step #7, the body *must* be used in signature validation first before any additional checks can occur based on data in the body.

The JWT committee made this list of steps in that particular order because, again, it doesn't make sense to use or trust any data that hasn't been authenticated.